.el-breadcrumb {
  background-color: #F5F5F5;
  height: 45px;
  font-size: 15px;
  padding-left: 10px;
  line-height: 45px;
  margin-bottom: 15px;
}

.el-table th > .cell {
  color: #333;
  font-weight: bold;
}

.el-input__inner {
  height: 34px;
  padding: 0;
}

.el-input__icon {
  line-height: 30px;
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 160px;
}

.el-input--suffix .el-input__inner {
  text-indent: 1em;
}

.el-dialog__footer {
  text-align: center;
}

.upload-demo {
  display: inline-block;
}

.el-textarea {
  display: inline-block;
}

html .el-loading-parent--hidden {
  overflow: auto !important;
}

.el-popup-parent--hidden {
  overflow: auto !important;
}

.el-pagination {
  text-align: center;
  margin-top: 5px;
}

.el-input__inner {
  text-indent: 1em;
}

.el-checkbox__label {
  display: none;
}

.list .el-checkbox__label {
  display: inline-block !important;
}

.el-submenu__title * {
  vertical-align: middle;
  margin-left: 15px;
}

.el-submenu .el-menu-item {
  padding-left: 55px !important;
}

.el-dialog__body {
  padding: 10px 20px;
  color: #606266;
  font-size: 14px;
}

.el-table th, .el-table tr {
  background-color: #FAFAFD;
}
